


    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #45526e"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                ATN shop
              </h6>
              <p>
                ATN is a Vietnamese company that is selling toys to teenagers in many provinces across Vietnam. With a large number of dealers and a wide spread, we are proud to be the leading company in the toy sales market in Vietnam.
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
              <p>
                <a class="text-white">Car toys</a>
              </p>
              <p>
                <a class="text-white">Actigon figures</a>
              </p>
              <p>
                <a class="text-white">Dolls</a>
              </p>
              <p>
                <a class="text-white">Education toys</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i>Greenwich- KCN An don - Da Nang</p>
              <p><i class="fas fa-envelope mr-3"></i> hieutcgcd191045@fpt.edu.vn</p>
              <p><i class="fas fa-phone mr-3"></i> +84981747708</p>
            </div>
          </div>
        </section>

  
        <hr class="my-3">
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <div class="p-3">
                © 2022 Copyright: 
                <a class="text-white" href="https://greenwich.edu.vn/"
                   >Greenwich university</a
                  >
              </div>
            </div>
          </div>
        </section>
      </div>
    </footer>
  </div>